<div class="row h-100 mx-0">
  <form [formGroup]="formLembrete" *ngIf="!carregando">
    <div class="row mb-3">
      <h5 class="mx-auto" style="color: #3f51b5;" *ngIf="lembrete.pkLembrete == null">Crie um novo lembrete</h5>
      <h5 class="mx-auto" style="color: #3f51b5;" *ngIf="lembrete.pkLembrete != null">Edite o seu lembrete</h5>
    </div>
    <mat-form-field style="width: 100%;">
      <mat-label>Título</mat-label>
      <input matInput type="text" formControlName="titulo">
      <button mat-button
        *ngIf="formLembrete.get('titulo').value != '' && formLembrete.get('titulo').value != null"
        matSuffix mat-icon-button aria-label="Clear"
        (click)="utilsService.resetarCampoForm(formLembrete, 'titulo')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="formLembrete.get('titulo').invalid">{{errorService.getErrorMessage(formLembrete, 'titulo')}}</mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>Data do lembrete</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dataLembrete">
      <button mat-button
        *ngIf="formLembrete.get('dataLembrete').value != '' && formLembrete.get('dataLembrete').value != null"
        matSuffix mat-icon-button aria-label="Clear"
        (click)="utilsService.resetarCampoForm(formLembrete, 'dataLembrete')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
      <mat-error *ngIf="formLembrete.get('dataLembrete').invalid">{{errorService.getErrorMessage(formLembrete, 'dataLembrete')}}</mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>Lembrete</mat-label>
      <textarea rows="3" matInput type="text" formControlName="texto"></textarea>
      <button mat-button
        *ngIf="formLembrete.get('texto').value != '' && formLembrete.get('texto').value != null"
        matSuffix mat-icon-button aria-label="Clear"
        (click)="utilsService.resetarCampoForm(formLembrete, 'texto')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="formLembrete.get('texto').invalid">{{errorService.getErrorMessage(formLembrete, 'texto')}}</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      style="float: right;"
      [disabled]="formLembrete.invalid"
      (click)="salvar()">Salvar</button>
    <button
      mat-raised-button
      style="float: right;"
      class="mr-2"
      (click)="cancelar()">Cancelar</button>
  </form>

  <div class="col-md-12 my-auto" *ngIf="carregando">
    <mat-progress-spinner
      class="mx-auto"
      [color]="color"
      [mode]="mode"
      [value]="value">
    </mat-progress-spinner>
  </div>
</div>
